<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      
      var map;
      function initMap() {
        var target = {lat: 52.5200, lng: 13.4050};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });
        var marker = new google.maps.Marker({
            position: target,
            map: map
            });
      {% for p in lats %}
     var tweets= {{ p | safe}};
     console.log(tweets);
     //console.log(tweets.length);

       //var tweets2=JSON.parse(tweets);     
      //for(i=0; i<tweets.length; i++)
      //{
        //var items=tweets[i];
        
        //console.log(items);
 //{lat: dict.lat, lng:dict.lng}
        var latlng= new google.maps.LatLng(tweets.lat,tweets.lng);
        console.log(latlng);
        var marker = new google.maps.Marker({
        position: latlng,
        map: map
            });
        //}
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9C3dSkZ88Erixrn-BrX8EdzxrjPX_0pI&callback=initMap">
    </script>
  </body>
</html>